# Group by and Aggregating

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"flavors.csv")
df

                   Flavor Base Flavor  ... Texture Rating  Total Rating
0     Mint Chocolate Chip     Vanilla  ...            8.0          18.0
1               Chocolate   Chocolate  ...            7.6          16.6
2                 Vanilla     Vanilla  ...            5.0           9.7
3            Cookie Dough     Vanilla  ...            6.5          13.4
4              Rocky Road   Chocolate  ...            7.0          15.2
5               Pistachio     Vanilla  ...            3.4           5.7
6             Cake Batter     Vanilla  ...            6.0          12.5
7              Neapolitan     Vanilla  ...            5.0           8.8
8  Chocolte Fudge Brownie   Chocolate  ...            7.1          15.3

[9 rows x 6 columns]

In [30]:
df.groupby('Base Flavor')
df

                   Flavor Base Flavor  ... Texture Rating  Total Rating
0     Mint Chocolate Chip     Vanilla  ...            8.0          18.0
1               Chocolate   Chocolate  ...            7.6          16.6
2                 Vanilla     Vanilla  ...            5.0           9.7
3            Cookie Dough     Vanilla  ...            6.5          13.4
4              Rocky Road   Chocolate  ...            7.0          15.2
5               Pistachio     Vanilla  ...            3.4           5.7
6             Cake Batter     Vanilla  ...            6.0          12.5
7              Neapolitan     Vanilla  ...            5.0           8.8
8  Chocolte Fudge Brownie   Chocolate  ...            7.1          15.3

[9 rows x 6 columns]

In [80]:
group_by_frame = df.groupby('Base Flavor')

In [82]:
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [86]:
df.groupby('Base Flavor').mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [88]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [100]:
df.groupby('Base Flavor').min(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.2             7.0          15.2
Vanilla                2.3             3.4           5.7

In [98]:
df.groupby('Base Flavor').max(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.8             7.6          16.6
Vanilla               10.0             8.0          18.0

In [96]:
df.groupby('Base Flavor').sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [106]:
df.groupby('Base Flavor').agg({
    'Flavor Rating':['mean','min','max','sum'],
    'Texture Rating':['mean','min','max','sum'],
    'Total Rating':['mean','min','max','sum']
})

            Flavor Rating                   ... Total Rating
                     mean  min   max   sum  ...         mean   min   max   sum
Base Flavor                                 ...
Chocolate             8.4  8.2   8.8  25.2  ...        15.70  15.2  16.6  47.1
Vanilla               5.7  2.3  10.0  34.2  ...        11.35   5.7  18.0  68.1

[2 rows x 12 columns]

In [110]:
df.groupby('Base Flavor').describe()

            Flavor Rating                      ... Total Rating
                    count mean       std  min  ...          25%   50%     75%   max
Base Flavor                                    ...
Chocolate             3.0  8.4  0.346410  8.2  ...       15.250  15.3  15.950  16.6
Vanilla               6.0  5.7  2.710719  2.3  ...        9.025  11.1  13.175  18.0

[2 rows x 24 columns]